body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Belanosima", sans-serif;
  background-color: #48cae4;
}

main {
  padding: 5px;
  color: white;
  text-align: center;
}

.fa-sharp {
  margin-top: 25px;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input {
  border: none;
  outline: none;
  background-color: #48cae4;
  border-bottom: 1px solid white;
  font-size: 1.5rem;
}

#hourly {
  border: 1px solid white;
  padding: 5px;
}

#description {
  text-align: center;
}

#current-weather {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
}

#hourly-weather {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  padding: 0px;
}

.hour-card {
  /* border: 1px solid black; */
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.card-temp {
  display: flex;
}

.pagination {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
}
